/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  color: white;
}

input, button {
  all: unset;
  border: 2px solid #1f1f1f;
  border-radius: 5px;
  padding: 5px;
}

input {
  margin: 0 0 4%;
  font-size: 16px;
}

button {
  cursor: pointer;
}
